<!DOCTYPE HTML>

<html>
	<head>
		<title>Labor2Day</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="static/assets/css/landing.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Labor2Day</h1>
				<p><font color="white">A real time online marketplace to connect </br>employers and laborers in search of immediate jobs.</font></p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="{{url_for('login')}}">
				<input type="text" name="username" id="username" placeholder="Username" />
        		<input type="password" name="password" id="password" placeholder="Password" />
				<input type="submit" name="submit" value="Login" />
				<p> {{ error }} </p>
			</form>


			<p><font color="white">Don't have an account? <a href="{{url_for('signup')}}">SignUp</a></font></p>



		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/assets/js/landing.js"></script>

	</body>
</html>
