<!DOCTYPE HTML>

<html>
	<head>
		<title>Labor2Day</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<script src="http://code.jquery.com/jquery-1.7.2.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="stylesheet" href="/static/assets/css/profile.css" />
	</head>
	<body>
		<div class="parallax-container">
			<div class="parallax"><img src="../static/images/factory-black-white-header.png"></div>
			<div class="header-top" >
			<div style="width:100px; height: 50px;"><img src="../static/images/logo_green.png"></div>
			<h1 style="color: rgba(255,255,255,0.75); padding-top: 0.4em; font-size: 1.75em">
			 Labor2Day </h1>
			</div>
			<div class="header-info">
				<div class="row">
					<h4 class="header-text">{{ name }}</h1>
					<h4 id="username" class="header-text"><a href="{{url_for('index')}}"> Home </a></h1>
					<h4 class="header-text"><a href="{{url_for('logout')}}">Log Out</a></h1>
				</div>
			</div>
		</div>



		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<div id="main">
					<section id="intro">
						<header>
							<h2> Your Profile </h2>
							<p> Customize your profile and look at old job requests.</p>
						</header>
					</section>
					<div id ="profile-cards" class="row">


					</div>
				</div>

			<!-- Sidebar -->

		</div>

		<div id="sidebar" style="padding:4em">


			<!-- Footer -->
				<section id="footer">
					<ul class="icons">
						<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
						<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<p class="copyright">&copy; Labor2Day.</p>
				</section>

		</div>

		<!-- Scripts -->
		<script>
			$(document).ready(function(){
				$('.parallax').parallax();
			});
		</script>
		<script src="/static/assets/js/jquery.min.js"></script>
		<script src="/static/assets/js/skel.min.js"></script>
		<script src="/static/assets/js/util.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
		<script src="/static/assets/js/employer.js"></script>
		<script src="/static/assets/js/main.js"></script>

	</body>
</html>
